.poster-container {
    position: relative;
}
.img {
    height: 240px;
    width: 320px;
    border-radius: 15px;
    /* position: absolute; */
    /* left: 0px;
    top: 0px; */
    /* z-index: -1; */
}
video {
    border-radius: 15px;
}
.play {
    position: absolute;
    left: 139px;
    top: 100px;
    color: brown;
}

.searchbar {
    height: 40px;
    width: 340px;
}
.duration {
    font-size: 16px;
   
  
    background-color: black;
    padding: 4px;
    color: white;
    border-radius: 8px;
}
.time-style {
    font-size: 13px;
}